
// font url

$font-url: 'https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&display=swap';

// font family
$font-family: (
    'ff': (
        'body': "'Barlow'",
        'heading': "'Barlow'",
        'p': "'Barlow',",
        'jost': "'Barlow'",
    )
);



// font size
$font-size: (
    'fz': (
        'body': 14px,
        'p': 14px,
    )
);


